# {{ appName }} Container #

![Consul Logo](https://raw.githubusercontent.com/{{ dockerUser }}/docker-{{ finalImageName }}/master/images/logo.png)

![Docker Cloud Build Status](https://img.shields.io/docker/cloud/build/{{ dockerUser }}/{{ finalImageName }}.svg?style=plastic)
![GitHub](https://img.shields.io/github/license/{{ dockerUser }}/docker-{{ finalImageName }}.svg?style=plastic)

## Description ##
This docker image provides the a {{ appName }} container. It allows for the building of Disk Images in an automated fashion.

## Downloading The {{ appName }} Container ##
This repository is connected to Docker Hub - so you will always find the latest builds there. Execute the _docker pull_ command in order to get the required image:

* {{ dockerUser }}/{{ finalImageName }}:latest - The latest build of the application that was completed
* {{ dockerUser }}/{{ finalImageName }}:{{ finalImageVersion }} - An exact version of the application

## Building The {{ appName }} Container ##
After cloning the repository, simply execute the _make build_ command while in the repository root path to execute a docker build of the current Dockerfile. The Makefile contains a number of useful commands which perform different actions.

### Getting In Contact ###
If you find any issues with this container or want to recommend some improvements, fell free to get in contact with me or submit pull requests on github.
